<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%=text%></h1>
    </div>
    <% if(title == 'Error') {%>
    <div class="container">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back To Home</a>
    </div>
    <%}%>
  </div>