<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        nav {
            padding: 1%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        th {
            background-color : rgb(55, 106, 247)
        }
        h1, h2 {
            text-align: center;
        }
        table {
            margin: auto;
        }
        p {
            text-align: center;
        }
        input {
            margin: auto;
            text-align: center;
        }
        form {
            margin-left: 45%;
        }
        .link {
            margin-left: 47%;
        }
    </style>
    <nav>
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/productionhouse">Production House</a>
        <a href="/cast">Casts</a>
    </nav>
</head>