<nav>
    <ul class="topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/casts">Casts</a></li>
        <li><a href="/phouses">Production Houses</a></li>
    </ul>
</nav>