<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <h1>ADD NEW CAST</h1>

    <form action="add" method="post">
        <label for="first_name">First Name</label> <br>
        <input type="text" name="first_name" id="first_name" placeholder="e.g: John"> <br> <br>

        <label for="last_name">Last Name</label> <br>
        <input type="text" name="last_name" id="last_name" placeholder="e.g: Doe"> <br> <br>

        <label for="birth_year">Birth Year</label> <br>
        <input type="number" name="birth_year" id="birth_year" placeholder="e.g: 2020"> <br> <br>
        
        <label for="phone_number">Phone Number</label> <br>
        <input type="text" name="phone_number" id="phone_number" placeholder="e.g: 08123456789"> <br> <br>

        <label>Gender</label> <br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>

        <button type="submit">ADD</button>
    </form>
</body>
</html>