<%- include('partials/header') %>

<form action="/casts/add" method="POST">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" placeholder="e.g.: John" name="first_name" required>
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="e.g.: Doe" name="last_name">
  </div>
  <div class="form-group">
    <label for="birth_year">Birth Year</label>
    <input type="number" class="form-control" id="birth_year" placeholder="e.g.: 1972" name="birth_year" required>
  </div>
  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" class="form-control" id="phone_number" placeholder="08123456789" name="phone_number" required>
  </div>
  <div class="form-group">
    <label for="gender">Gender</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="gender1" value="female">
      <label class="form-check-label" for="gender1">female</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="gender2" value="male">
      <label class="form-check-label" for="gender2">male</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>  <a class="btn btn-danger" href="/casts" role="button">Cancel</a>
</form>

<%- include('partials/footer') %>