<%- include('partials/header')%>
<body>
    
  <div class="container mt-5">
      <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
  </div>
  <div class="container-fluid p-5">
    <h1 class="text-center"> Add Movie</h1>
        <% if(alert.msg){ %>
          <div class="alert alert-danger" role="alert">
              <%= alert.msg %>
          </div>
        <% } %>
        <form action="/movies/add" method="POST">
            <div class="form-group">
              <label>Name</label>
              <input name="name" type="text" class="form-control" placeholder="e.g: Cintaku Kepentok Sudoku">
            </div>
            <div class="form-group">
                <label>Released Year</label>
                <input name="released_year" type="text" class="form-control" placeholder="e.g: 2020">
              </div>
            <div class="form-group">
              <label>Genre</label>
              <select name="genre" class="form-control">
                <option selected disabled>Select genre</option>
                <option value="Action">Action</option>
                <option value="Animation">Animation</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Horror">Horror</option>
              </select>
            </div>
            <div class="form-group">
              <label>Production House</label>
              <select name="ProductionHouseId" class="form-control">
                <option selected disabled>Select Production House</option>
                <% for(let i = 0; i < data.length; i++){ %>
                  <option value="<%= data[i].id %>"><%= data[i].name_prodHouse %></option>
                <% } %>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/movies"><button type="button" class="btn btn-danger">Cancel</button></a>
        </form>
    </div>

</body>
</html>