<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br><br>
  <h1 align="left">List Movies</h1>
  <% if(alert.message){ %>
    <div class="alert alert-danger" role="alert">
        <%= alert.message %>
    </div>
<% } %>
  <form action="/movies/add" method="POST">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" name="name" placeholder="e.g: 12 Angry Men">
      </div>
      <div class="form-group">
        <label for="released year">Released Year</label>
        <input type="released year" class="form-control" name="released_year" placeholder="e.g: 1957">
      </div>
      <div>
        <label for="genre">Genre</label>
        <select name="genre" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected disabled>choose...</option>
          <option value="animation">animation</option>
          <option value="comedy">comedy</option>
          <option value="drama">drama</option>
          <option value="horor">horor</option>
          <option value="religious">religious</option>
          <option value="thriller">thriller</option>
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>  <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
  </form>
</body>
</html>