<%- include('./partial/header')%>
<div>
    <form class="px-4 py-3" method="POST" action="/movies/add">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label>Released Year</label>
        <% if(error) { %>
          <p><%= error %></p>
        <% } %>
        <input type="text" class="form-control" name="releasedyear">
      </div>
      <div>
        <label>Genre: </label>
        <br>
        <select name="genre">
            <option value="">SELECT GENRE</option>
            <option value="horror">Horror</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="animasi">Animasi</option>
            <option value="religi">Religi</option>
            <option value="thriller">Thriller</option>
          </select>
      </div>
      <button type="submit">Save</button>
      <a class="btn btn-primary" href="/movies" role="button">Cancel</a>
    </form>
  </div>
</body>
<%- include('./partial/footer')%>