<%- include('./partial/header') %>
<body>
    <form action="/movies/add" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Movie Name">
      </div>
      <div class="form-group">
        <label for="released_year">Released Year</label>
        <input type="text" class="form-control" id="released_year" name="released_year" placeholder="Released Year">
      </div>
      <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label class="mr-sm-2" for="genre">Choose Genre</label>
          <select class="custom-select mr-sm-2" name="genre" id="genre">
            <option value="" disabled>--Choose Genre--</option>
            <option value="Animation">Animation</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Horror">Horror</option>
            <option value="Religious">Religious</option>
            <option value="Thriller">Thriller</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-danger" href="/movies" role="button">Cancel</a>
    </form>
</body>
</html>