<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/cast/addCast" method="post">
      <label>First Name</label>
      <input type="text" name="name" placeholder="first name" ><br>
      <label>Last Name</label>
      <input type="text" name="name" placeholder="last name" ><br>
      <label>Birth Year</label>
      <input type="text" name="name" placeholder="birtth year" ><br>
      <label>Phone Number</label>
      <input type="text" name="name" placeholder="phone number" ><br>
      <label>Gender</label>
      <input type="radio" name="gender" value="Male">Male</label>
      <input type="radio" name="gender" value="Female">Female</label>

        </select><br>
      <button type="submit">Submit</button>
    </form><br>
  </body>
</html>
