<%- include('partials/header', { title: 'Add Movie' }) %>

<a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home Page</a>
<a class="btn btn-primary btn-lg" href="/movie" role="button">Go back to Movie List</a> 
<br><br>
<form action="/movie/add" method="POST">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" placeholder="e.g: 12 Angry Men" name="name">
    </div>
    <div class="form-group">
        <label for="Released">Released Year</label>
        <input type="text" class="form-control" id="Released" placeholder="e.g: 1957" name="released_year">
      </div>
    <div class="form-group">
      <label for="Genre">Genre</label>
      <select class="form-control" id="Genre" name="genre">
        <option> </option>
        <option>animation</option>
        <option>comedy</option>
        <option>drama</option>
        <option>horror</option>
        <option>thriller</option>
        <option>religious</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit"> Save </button>
    <a class="btn btn-danger" href="/movie" role="button">Cancel</a>
  </form>

<%- include('partials/footer') %>
