<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Add Movies</title>
    </head>
    <body style="position: center;"> 
      <%- include('partials/navbar') %> 
        <h1 style="text-align: center;">Add Movies</h1>
        <p style="text-align: center;"><a href="/movies">show all data</a></p>
        <form action='/movies/add' method = 'POST'>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label >Name :</label>
                <input type="text" class="form-control" name="name" placeholder="e,g: 12 Angri Man">
              </div>
              <div class="form-group col-md-6">
                <label >Released Year :</label>
                <input type="text" class="form-control" name="released_year" placeholder="e.g: 1957">
              </div>
            </div>
            <div class= "form-check">
              <label>Genre :</label>
              <select name="genre" required>
                <option value="" disabled selected> --select your genre-- </option>
                <option value="animation">Animation</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="horor">Horor</option>
                <option value="religious">Religious</option>
                <option value="thriller">Thriller</option>
            </select><br>
            </div>
            <div class= "form-check">
              <label>Production House :</label>
              <select name="ProductionHouseId" required>
                <option value="" disabled selected> --select Production House-- </option>
                <% for(let i = 0; i < data.length; i++){ %>
                  <option value="<%= data[i].id %>"><%= data[i].name_prodHouse %></option>
                <% } %>
            </select><br>
            </div>
            <button type="submit" name = "submit"class="btn btn-primary mb-2" >Add movies</button>
          </form>
    </body>
    <foot>

    </foot>
</html>
