<%- include('./parts/header') %>
<h1 class="text-center">Cast List</h1>
<br>
<button type="button" onclick="location.href='/cast/add'" class="btn btn-danger navbar mx-auto">Add Cast</button></a>

<br>
<%- include('./parts/alerts', {msg}) %>
<%- include('./parts/table', {list, content:'cast'}) %>

<%- include('./parts/footer') %>