<%- include ('./partials/header', {title: 'Cast'}) %>

<h1>Are you sure you want to delete the actor/actress?</h1>

<a href="/casts"> <button>No</button> </a> <a href="/casts/<%=casts.id%>/delete"> <button>Yes</button> </a>


<%- include ('./partials/footer') %>