<%- include('./parts/header', {title: "Error!"}) %>

<%- include('./parts/alerts', {msg, type:"error"}) %>

<br><button type="button" onclick="location.href='/movie'" class="btn btn-danger navbar mx-auto">Return Home</button></a>

<%- include('./parts/footer') %>