<%- include('../template/head', {title: 'Error'}); %>
<%- include('../template/navbar', {title: 'Error'}); %>
<%- include('../template/jumbotron', {title: 'Error', text: err}); %>
    
</body>
</html>