<%- include('./parts/header') %>
<h1 class="text-center">Error!</h1>
<%- include('./parts/alerts', {msg, type:"error"}) %>

<br><button type="button" onclick="location.href='/movie'" class="btn btn-danger navbar mx-auto">Return Home</button></a>

<%- include('./parts/footer') %>