<%- include('partials/header', { title: 'Home Page' }) %>

  <a class="btn btn-primary btn-lg" href="/production" role="button">Production House</a>
  <a class="btn btn-primary btn-lg" href="/movie" role="button">Movies</a>

<%- include('partials/footer') %>