<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        nav {
            padding: 1%;
            text-align: center;
        }
        nav, a {
            font-size: large;
            margin-left: 1%;
        }
        body {
            text-align: center;
        }
    </style>
    <nav>
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/productionhouse">Production House</a>
        <a href="/cast">Casts</a>
    </nav>
</head>

<body>
    <h1>Movie web app</h1>
    <p>Navigate with navigation button above</p>
</body>
</html>