<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Movie App!</h1>
        <p class="lead">Experience the glorious movie industry of the world! here in California, United States.</p>
        <hr class="my-4">
        <p>Please select options below for further informations of Production Houses.</p>
        <a class="btn btn-primary btn-lg" href="/productionhouses" role="button">See Production houses</a>
        <a class="btn btn-primary btn-lg" href="/movies" role="button">Go to Movies</a>
        <a class="btn btn-primary btn-lg" href="/casts" role="button">Go to Casts</a>
    </div>
</body>
</html>