<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
  </head>
  <body>
    <nav class ="navbar-expand-lg navbar-light bg-light">
      <li>Home</li>
      <li><a href="/"></a>Production Houses</li>
      <li><a href="/movies"></a>Movies</li>
      <li><a href="#"></a>Casts</li>
    </nav>
  </body>
</html>
