<!DOCTYPE html>
<head>
    <title>Movies & Production</title>
</head>
<body>
    <h1> Welcome to our Page!</h1>
    <a href='/movies'><button>Movie's List</button></a>
    <a href='/production'><button>Production House 's List</button></a>
</body>