<%- include('../template/head', {title: 'Home'}); %>
<%- include('../template/navbar', {title: 'Home'}); %>
<%- include('../template/jumbotron', {title: 'Home', text: 'Movie App'}); %>
    
</body>
</html>