<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies app home</title>
</head>
<body>
    <h1>MOVIES APP HOME</h1>
    <nav>
        <ul>
            <li><a href="/movies">List Movies</a></li>
            <li><a href="/phouses">List Production Houses</a></li>
        </ul>
    </nav>
</body>
</html>