<%- include ('./partials/header', {title: 'Add Movie'}) %>

<body>
    <h1>This is homepage</h1>
    <p>Welcome to Personal Movie App. Here you can manage your movie list and add movie to your list.</p>
    <p>Find what you're looking for in the navigation bar above.</p>
</body>
</html>