<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
    <h1 class="display-4" align="center">Movie Application</h1>
    <p class="lead" align="center">This is a simple Movie Application.</p>
    <hr class="my-4">
    <ul style="margin: 0 38%;";">
      <a class="btn btn-primary btn-lg" href="/movies/add" role="button">Add Movie</a>
    </ul>
  </div>
</body>
</html>