<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <%- include('partials/styles') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <h1>Welcome to Movie App</h1>
    </div>
    <%- include('partials/scripts') %>
</body>
</html>