<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/boostrap.ejs') %>
    <title>Movie App</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Movie App</h1>
        <a class="btn btn-primary btn-lg" href="/prodHouse" role="button"> Go to Movie App</a>
    </div>
</body>
</html>