<%- include('./parts/header', {title: "Movie List"}) %>
<br>
<button type="button" onclick="location.href='/movie/add'" class="btn btn-danger navbar mx-auto">Add Movie</button></a>

<br>
<%- include('./parts/alerts', {msg}) %>
<%- include('./parts/table', {list, content:'movie'}) %>

<%- include('./parts/footer') %>