<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie app</title>
  </head>
  <body>
    <tr>
      <th>Name</th>
      <th>headquarter</th>
      <th>createdAt</th>
      <th>updatedAt</th>
    </tr>
    <%for (let i = 0; i < data.length; i++) {%>
      <tr>
        <th><%=data[i].name_prodHouse%></th>
        <th><%=data[i].headquarters%></th>
      </tr>
  </body>
</html>
