<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="left">Production Houses</h1>
  <br><br>
  <% if (data.length) { %>
    <table class="table table-sm table-dark">
      <thead class="table table-sm table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Headquarters</th>
        </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <% data.forEach(list => { %>
        <tr>
          <td><%= list.name_ProdHouse %></td>
          <td><%= list.headquarters %></td>
      <% }) %>
    </tbody>
  </table>
  <% }else{ %>
    <div class="alert alert-dark" role="alert">
      Production  not found!!
    </div>
    <%}%>
    </tbody>
  </table>
</body>
</html>