<%- include('partials/header', { title: 'Production House List' }) %>

<a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home Page</a>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Production House</th>
            <th scope="col">Headquarters</th>
          </tr>
        </thead>
        <tbody>
          <% object.forEach(item => { %>
          <tr>
            <td><%= item.name_prodHouse %></td>
            <td><%= item.headquarters %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>        

      <%- include('partials/footer') %>