<%- include('./partial/header')%>
<table class="table" border="1">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Headquarters</th>
      </tr>
    </thead>
    <tbody
    <% for(i = 0; i < data.length ; i++ ) { %>
        <tr>
            <td><%= data[i].name_prodHouse %></td>
            <td><%= data[i].headquarters %></td>
          </tr>
    <% } %>
    </tbody>
  </table>
</body>
<%- include('./partial/footer')%>