<%- include('partials/header')%>

<body>
    <h1 class="text-center ">Production Houses</h1> <!-- judul -->
  
    <div class="container mt-5"><a href="/">Home</a></div>
    <div class="container mt-5 text-center">
        <table action="/" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Headquarters</th>
                </tr>
    
            </thead>
            <tbody>
                <% data.forEach( list => { %>
                    <tr>
                        <td class="text-center"><%= list.id %></td>
                        <td class="text-center"><%= list.name_prodHouse %></td>
                        <td class="text-center"><%= list.headquarters %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>