<div class="container">
    <% if (list.length >0) { %>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <% let keys = Object.keys(list[0].dataValues) %>
                <% for (let key of keys) { %>
                    <% key = key.split('_').join(' ') %>
                    <th scope="col"><%= key %></th>
                <% } %>
                <% if (action) { %>
                    <th scope="col">action</th>
                <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let entry of list) { %>
                    <tr>
                        <% for (let property in entry.dataValues) { %>
                        <td><%= (!entry[property]) ? 'unknown' : entry[property] %></td>
                        <% } %>
                        <% if (action) { %>
                            <td>
                                <a href="/movie/edit/<%= entry.id %>" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                                <a href="/movie/delete/<%= entry.id %>" class="btn btn-warning" role="button" aria-pressed="true">delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>