<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <h1>ADD NEW MOVIE</h1>

    <form action="add" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="e.g: 12 Angry Man">
        
        <label for="released_year">Released Year</label>
        <input type="number" name="released_year" id="released_year" placeholder="e.g: 1957">

        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option value="" hidden>Choose Genre:</option>
            <option value="animation">Animation</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="horor">Horor</option>
            <option value="religious">Religious</option>
            <option value="thriller">Thriller</option>
        </select>

        <label for="ProductionHouseId">Production Houses</label>
        <select name="ProductionHouseId" id="ProductionHouseId">
            <option value="" hidden>Choose Production House:</option>
            <% data.forEach(el => { %>
             <option value=<%= el.id %>><%= el.name_prodHouse %> </option>
            <% }) %>
        </select>

        <button type="submit">ADD</button>
    </form>
</body>
</html>